.container-chatmessage {
            display: flex;
            /* align-items: center;  */
            
            word-wrap: break-word;
            width: 100%;
           
        }
        
.container-ownchatmessage {
            display: flex;
            /* align-items: center;  */
            justify-content: end;
            flex-direction: row-reverse;
            word-wrap: break-word;
            
        }

        

        .text-container{
            display: flex;
            padding: 10px 20px;
            background-color: rgba(85, 5, 117, 0.144);
            border-radius: 8px;
            margin: 13px;
            word-wrap: break-word;
            max-width: 60%;
        }
        

        .owntext-container{
            display: flex;
            padding: 10px 20px;
            background-color: rgba(14, 194, 134, 0.178);
            border-radius: 8px;
            margin: 13px;
            word-wrap: break-word;
            max-width: 60%;
        }

        .user-avatar {
            min-width: 36px;
            min-height: 36px;
            max-width: 36px;
            max-height: 36px;
            /* overflow: hidden; */
            margin-right: 8px;
            
            position: relative;
        }

        .user-avatar img {
            width: 100%;
            border-radius: 50%;
        }
         
        .gotochat{
            position: absolute;
            width: 100px;
            left: 0px;
            top: -22px;
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px 2px;
            border-radius: 5px;
            z-index: 5;
        }
        .gotochathide{
            display: none;
        }

        .message-content {
            display: flex;
            flex-direction: column;
            max-width: 91%;
            gap: 5px;
            padding: 3px 0;
            
        }
        .message-contentown{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            gap: 5px;
            padding: 3px 0;
        }

        .name {
            
            font-family: 'Inter', sans-serif;
            font-weight: 800;
            font-size: 15px;
            line-height: 1.4;
            text-align: start;
        }

        
        .name span {
            margin-left: 8px;
            font-weight: 400;
            color: rgb(97, 96, 97);
            font-size: 13px;
        }


        .nameown {
            font-weight: 800;
            font-size: 15px;
            line-height: 1.4;
            text-align: end;
            font-family: 'Inter', sans-serif;
        }

        .nameown span {
            margin-left: 8px;
            font-weight: 400;
            color: rgb(97, 96, 97);
            font-size: 13px;
        }

        .text{
            text-align: start;
            max-width: 100%;
            text-wrap: wrap;
        }