.container-chatmessage {
            padding: 8px 20px;
            display: flex;
            align-items: center; 
        }
        
.container-ownchatmessage {
            padding: 8px 20px;
            display: flex;
            align-items: center; 
            justify-content: end;
        }

        .user-avatar {
            width: 36px;
            height: 36px;
            border-radius: 2px;
            overflow: hidden;
            margin-right: 8px;
        }

        .user-avatar img {
            width: 100%;
        }

        .message-content {
            display: flex;
            flex-direction: column;
        }

        .name {
            font-weight: 900;
            font-size: 15px;
            line-height: 1.4;
        }

        .name span {
            margin-left: 8px;
            font-weight: 400;
            color: rgb(97, 96, 97);
            font-size: 13px;
        }

        .text{
            
            text-align: start;
        }